<h1>{{title}}</h1>

<button id="clickme">click me</button>

<script>
    const button = document.getElementById('clickme')
    button.addEventListener('click', () => {
        alert('This is HOME PAGE from Rocket.rs')
    })
</script>